body {
    background-color: rgb(28, 63, 159);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(350px, 50%, 30vw);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.539);
    box-shadow: rgba(0, 0, 0, 0.59) 1.3em 1.3em 0;
    width: clamp(250px, 50%, 15vw);
    border-radius: 10%;
    padding: 3em;
}

label {
    font-weight: bold;
    color: whitesmoke;
    font-size: 1.3em;
}

input {
    background-color: rgb(235, 235, 235);
    border: rgb(184, 184, 184) solid 2px;
    box-shadow: rgb(160, 160, 160) 0 3px 0;
    border-radius: 10px;
    margin: 5px 0 2em 0;
    width: 16em;
    height: 1.7em;
}

button {
    border-radius: 10px;
    font-size: 2.1em;
    width: 6em;
    margin-top: .5em;
    font-weight: bold;
    cursor: pointer;
}

h1 {
    color: whitesmoke;
    font-size: 3em;
    text-decoration: underline;
}

.shape {
    background-color: rgba(7, 19, 52, 0.819);
    width: 100vw;
    height: 10vh;
    position: absolute;
    z-index: -1;
    top:90%;
    border-radius: 15% 70% 0 0;
    box-shadow: rgba(2, 7, 24, 0.315) 0 -15px 0, rgba(2, 7, 24, 0.315) 0 -25px 0, rgba(2, 7, 24, 0.315) 0 -35px 0, rgba(2, 7, 24, 0.315) 0 -45px 0;
    animation: wave ease-in-out infinite 9s;
}

input:valid {

}

input:invalid {
    
}

@keyframes wave {
    50% {
        border-radius: 70% 15% 0 0;
    }
    100% {
        border-radius: 15% 70% 0 0;
    }
}