body {
    background-image: linear-gradient(rgb(18, 57, 164), rgb(8, 26, 76));
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(350px, 50%, 30vw);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.306);
    box-shadow: rgb(6, 21, 62) 4px 4px 0, rgb(4, 13, 39) 8px 8px 0, rgba(0, 0, 0, 0.521) 10px 10px 10px, rgb(4, 13, 39) inset 6px 6px 3px;
    border: solid rgba(0, 0, 0, 0.166) 4px;
    width: clamp(250px, 50%, 15vw);
    border-radius: 20% 0;
    padding: 2.5em;
}

label {
    font-weight: bold;
    color: whitesmoke;
    font-size: 1.4em;
}

input {
    color: rgb(44, 44, 44);
    background-color: rgb(235, 235, 235);
    border: rgb(184, 184, 184) solid 3px;
    box-shadow: rgb(160, 160, 160) 0 3px 0;
    border-radius: 10px;
    margin: 3px 0 1.6em 0;
    width: 17em;
    height: 1.75em;
    padding: 5px 10px 5px 10px;
    transition: .5s;
    font-weight: bold;
}

button {
    color: rgb(46, 46, 46);
    background-color: rgb(192, 192, 192);
    border: solid 2px rgb(105, 105, 105);
    box-shadow: rgb(104, 104, 104) -2px -2px 0;
    border-radius: 15px;
    font-size: 2em;
    width: 6em;
    margin-top: .4em;
    font-weight: bold;
    cursor: pointer;
    padding: .12em 1em .12em 1em;
    transition: .2s;
}

button:hover {
    color: rgb(28, 53, 28);
    background-color: rgb(130, 195, 130);
    border: solid 2px rgb(74, 113, 74);
    box-shadow: rgb(74, 113, 74) 2px 2px 0, inset rgb(74, 113, 74) 1px 1px 1px;
}

h1 {
    color: rgba(245, 245, 245, 0.932);
    text-shadow: rgb(129, 129, 129) 2px 2px 0, rgb(6, 21, 62) 5px 5px 0;
    font-size: 3.9em;
    margin: .3em .3em .2em 1.3em;
    letter-spacing: .05em;
}

.shape {
    background-color: rgb(7, 19, 52);
    width: 100vw;
    height: 6vh;
    position: absolute;
    z-index: -1;
    top:94%;
    border-radius: 30% 90% 0 0;
    box-shadow: rgba(2, 7, 24, 0.315) 0 -15px 0, rgba(2, 7, 24, 0.315) 0 -25px 0, rgba(2, 7, 24, 0.315) 0 -35px 0, rgba(2, 7, 24, 0.315) 0 -45px 0;
    animation: wave ease-in-out infinite 9s;
}

input:valid {
    background-color: rgb(201, 234, 191);
    border: rgb(122, 183, 95) solid 3px;
    box-shadow: rgb(104, 156, 82) 0 3px 0;
}

input:invalid {
    background-color: rgb(234, 191, 191);
    border: rgb(180, 84, 84) solid 3px;
    box-shadow: rgb(154, 68, 68) 0 3px 0;
}

input:focus:invalid, input:focus:valid {
    background-color: rgb(235, 235, 235);
    border: rgb(184, 184, 184) solid 3px;
    box-shadow: rgb(160, 160, 160) 0 3px 0;
}

@keyframes wave {
    50% {
        border-radius: 90% 30% 0 0;
    }
    100% {
        border-radius: 30% 90% 0 0;
    }
}

@media (max-width: 500px) {
    .shape {
        top: 130%;
        height: 12vh;
    }
    body {
        min-height: 140vh;
    }
    .form-container {
        height: 85vh;
    }
}